
#section_footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

#section_footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#section_footer ul li{
    margin: 0 15px;
}